@font-face {
  font-family: 'Bangers';
  src:  url('./Bangers.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
body {
  display: none;
  font-size: 2rem;
  font-family: "Bangers";
  background: url('./anthony-delanoix-PxrRwO4CwAI-unsplash.jpg');
}